.contact-section {

    min-height: 100vh;

    padding: 22px 6%;

}


.contact-section h2 {

    text-align: center;

    font-size: 64px;

    color: rgb(13, 13, 14);

    margin-bottom: 70px;

}


.contact-container {

    display: flex;

    justify-content: space-between;

    gap: 50px;

}


.contact-info {

    flex: 1;

    display: flex;

    flex-direction: column;

    gap: 25px;

}


.contact-card {

    display: flex;

    align-items: center;

    gap: 20px;

    padding: 25px;

    border-radius: 20px;

    background: rgba(255, 255, 255, 0.05);

    backdrop-filter: blur(10px);

    border: 1px solid rgba(255, 255, 255, 0.1);

    transition: 0.3s ease;

}


.contact-card:hover {

    transform: translateY(-8px);

    box-shadow: 0 0 25px rgb(81, 82, 82);

}


.contact-icon {

    width: 60px;
    height: 60px;

    border-radius: 50%;

    background: rgba(0, 255, 255, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;

    color: rgb(38, 46, 46);

}


.contact-card h3 {

    margin-bottom: 8px;

    font-size: 22px;

}


.contact-card p {

    color: #060606;

}


.contact-form {

    flex: 1;

    display: flex;

    flex-direction: column;

    gap: 20px;

}


.contact-form input,
.contact-form textarea {

    width: 100%;

    padding: 18px 20px;

    border: none;

    outline: none;

    border-radius: 15px;

    background: rgba(255, 255, 255, 0.05);

    border: 1px solid rgba(255, 255, 255, 0.1);

    color: white;

    font-size: 16px;

}


.contact-form textarea {

    resize: none;

}


.contact-form button {

    padding: 16px;

    border: none;

    border-radius: 50px;

    background: rgb(98, 135, 135);

    color: black;

    font-size: 17px;

    font-weight: 600;

    cursor: pointer;

    transition: 0.3s ease;

}


.contact-form button:hover {

    transform: scale(1.03);

}


@media(max-width: 768px) {

    .contact-container {

        flex-direction: column;

    }


    .contact-section h2 {

        font-size: 40px;

    }

}