.scroll-top {

    position: fixed;

    right: 30px;
    bottom: 30px;

    width: 55px;
    height: 55px;

    border: none;

    border-radius: 50%;

    background: cyan;

    color: black;

    font-size: 18px;

    cursor: pointer;

    z-index: 999;

    transition: 0.3s ease;

}


.scroll-top:hover {

    transform: translateY(-8px);

    box-shadow: 0 0 20px cyan;

}